.card-img {
    width: 250px;
    height: 180px;
    object-fit: cover;
}

.card-img-top {
  border-radius: 20px 20px 0 0;
}

nav ul li a {
    border-radius: 20px; 
}

nav ul li a:hover {
    background-color: orange;
    color: white;
    padding: 5px 15px;
}

.profil {
    background-image: url('src/profil.png');
    background-size: cover;
    background-position: center;
    height: 400px;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    color: #fff;
    margin: 20px 80px;
    position: relative;
    overflow: hidden;
}

.profil::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.profil .container {
    position: relative;
    z-index: 2;
}

.deskripsi {
    text-align: justify;
}